.container {
    width: 100%;
    height: 200vh;
    background-color: burlywood;
    position: relative;
}

.box1{
    background-color: red;
    height: 50px;
    position: sticky;
    top:10px;
    z-index: 1;
}
.box2{
    background-color: aquamarine;
    height: 50px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
}
.box3{
    background-color: gold;
    height: 50px;
}

.box{
    height: 200vh;
    background-color: blue;
}